/* Footer */
#footer {
    background: #736F6E;
    padding: 15px 0 10px 0;
    color: rgba(255,255,255,0.4);
    text-align: center;
}
#footer p {
    margin-top: 10px;
    font-size: 13px;
    color: #fff;
}